
.slider[data-v-5f1c8587] {
  --trackHeight: 1px;
  --thumbRadius: 10px;
}
[data-v-5f1c8587] .slider input[type='range'] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  height: 100%;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
[data-v-5f1c8587] .slider input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  background: #000;
  height: var(--trackHeight);
  border-radius: 999px;
}
[data-v-5f1c8587] .slider input[type='range']:focus-visible {
  outline: none;
}
[data-v-5f1c8587] .slider input[type='range']::-webkit-slider-thumb {
  width: var(--thumbRadius);
  height: var(--thumbRadius);
  margin-top: calc((var(--trackHeight) - var(--thumbRadius)) / 2);
  background: #fff;
  border-radius: 3px;
  pointer-events: all;
  -webkit-appearance: none;
          appearance: none;
  outline: 1px solid #777777;
  z-index: 1;
}
[data-v-5f1c8587] .slider:hover input[type='range']::-webkit-slider-thumb {
  outline: 1px solid #000;
}
[data-v-5f1c8587] .slider input[type='range']::-webkit-slider-thumb {
  width: var(--thumbRadius);
  height: var(--thumbRadius);
  margin-top: calc((var(--trackHeight) - var(--thumbRadius)) / 2);
  background: #fff;
  border-radius: 3px;
  pointer-events: all;
  -webkit-appearance: none;
          appearance: none;
  z-index: 1;
}

.form-select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='none' width='8' xmlns='http://www.w3.org/2000/svg' viewBox='-4 -2 16 16'><path d='M4.5 3.636 6.136 2l1.637 1.636M4.5 8.364 6.136 10l1.637-1.636' stroke='%23333C44' stroke-linecap='round' stroke-linejoin='round'/></svg>");
}

.spinner[data-v-5c03f65e] {
  animation: rotate-5c03f65e 2s linear infinite;
}
.spinner-path[data-v-5c03f65e] {
  stroke-linecap: round;
  animation: dash-5c03f65e 1.5s ease-in-out infinite;
}
@keyframes rotate-5c03f65e {
100% {
    transform: rotate(360deg);
}
}
@keyframes dash-5c03f65e {
0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
}
50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
}
100% {
    stroke-dasharray: 120, 150;
    stroke-dashoffset: -124;
}
}

/* CodeBlock styles */
.code-block {
  position: relative;
}
.code-block-container {
  position: relative;
}
.language-selector {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
  z-index: 10;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  pointer-events: none;
}
.code-block-container:hover .language-selector {
  opacity: 1;
  transition-delay: 0s;
  pointer-events: auto;
}
.language-selector:focus-within {
  opacity: 1;
  transition-delay: 0s;
  pointer-events: auto;
}

/* When mouse leaves the code block, delay the hiding */
.code-block-container:not(:hover) .language-selector:not(:focus-within) {
  transition-delay: 1.5s;
}
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Mono', 'Source Code Pro', 'Fira Mono',
    'Droid Sans Mono', 'Consolas', 'Courier New', monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.75rem;
  caret-color: #fff;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 12px;
}
.ProseMirror pre .hljs-comment,
.ProseMirror pre .hljs-quote {
  color: #999;
}
.ProseMirror pre .hljs-variable,
.ProseMirror pre .hljs-template-variable,
.ProseMirror pre .hljs-attribute,
.ProseMirror pre .hljs-tag,
.ProseMirror pre .hljs-name,
.ProseMirror pre .hljs-regexp,
.ProseMirror pre .hljs-link,
.ProseMirror pre .hljs-selector-id,
.ProseMirror pre .hljs-selector-class {
  color: #f2777a;
}
.ProseMirror pre .hljs-number,
.ProseMirror pre .hljs-meta,
.ProseMirror pre .hljs-built_in,
.ProseMirror pre .hljs-builtin-name,
.ProseMirror pre .hljs-literal,
.ProseMirror pre .hljs-type,
.ProseMirror pre .hljs-params {
  color: #f99157;
}
.ProseMirror pre .hljs-string,
.ProseMirror pre .hljs-symbol,
.ProseMirror pre .hljs-bullet {
  color: #99cc99;
}
.ProseMirror pre .hljs-title,
.ProseMirror pre .hljs-section {
  color: #ffcc66;
}
.ProseMirror pre .hljs-keyword,
.ProseMirror pre .hljs-selector-tag {
  color: #6196cc;
}
.ProseMirror pre .hljs-emphasis {
  font-style: italic;
}
.ProseMirror pre .hljs-strong {
  font-weight: 700;
}

.item {
  display: block;
  margin: 0;
  width: 100%;
  text-align: left;
  background: transparent;
  border-radius: 0.4rem;
  border: 1px solid transparent;
  padding: 0.2rem 0.4rem;
}
.item.is-selected {
  border-color: #000;
}
.ProseMirror {
  --prose-color-red: var(--red-600);
  --prose-color-blue: var(--blue-600);
  --prose-color-green: var(--green-600);
  --prose-color-yellow: var(--yellow-600);
  --prose-color-orange: var(--orange-600);
  --prose-color-purple: var(--purple-600);
  --prose-color-pink: var(--pink-600);
  --prose-color-gray: var(--gray-600);
  --prose-color-teal: var(--teal-600);
  --prose-color-cyan: var(--cyan-600);
}
[data-theme='dark'] .ProseMirror {
  --prose-color-red: var(--dark-red-400);
  --prose-color-blue: var(--dark-blue-400);
  --prose-color-green: var(--dark-green-400);
  --prose-color-yellow: var(--dark-yellow-400);
  --prose-color-orange: var(--dark-orange-400);
  --prose-color-purple: var(--dark-purple-400);
  --prose-color-pink: var(--dark-pink-400);
  --prose-color-gray: var(--dark-gray-400);
  --prose-color-teal: var(--dark-teal-400);
  --prose-color-cyan: var(--dark-cyan-400);
}
.ProseMirror {
  --prose-highlight-red: var(--red-100);
  --prose-highlight-blue: var(--blue-100);
  --prose-highlight-green: var(--green-100);
  --prose-highlight-yellow: var(--yellow-100);
  --prose-highlight-orange: var(--orange-100);
  --prose-highlight-purple: var(--purple-100);
  --prose-highlight-pink: var(--pink-100);
  --prose-highlight-gray: var(--gray-100);
  --prose-highlight-teal: var(--teal-100);
  --prose-highlight-cyan: var(--cyan-100);
}
[data-theme='dark'] .ProseMirror {
  --prose-highlight-red: var(--dark-red-800);
  --prose-highlight-blue: var(--dark-blue-800);
  --prose-highlight-green: var(--dark-green-800);
  --prose-highlight-yellow: var(--dark-yellow-800);
  --prose-highlight-orange: var(--dark-orange-800);
  --prose-highlight-purple: var(--dark-purple-800);
  --prose-highlight-pink: var(--dark-pink-800);
  --prose-highlight-gray: var(--dark-gray-800);
  --prose-highlight-teal: var(--dark-teal-800);
  --prose-highlight-cyan: var(--dark-cyan-800);
}
.ProseMirror mark {
  font-weight: 400;
  border-radius: 3px;
  padding: 0 2px;
  color: inherit;
}
.ProseMirror {
  outline: none;
  caret-color: var(--ink-gray-9);
  word-break: break-word;
}

/* Firefox */
.ProseMirror-focused:focus-visible {
  outline: none;
}

/* Placeholder */
.ProseMirror:not(.ProseMirror-focused) p.is-editor-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: var(--ink-gray-4);
  pointer-events: none;
  height: 0;
}
.ProseMirror-selectednode video,
img.ProseMirror-selectednode {
  outline: 2px solid var(--outline-gray-2);
}

/* Mentions */
.mention {
  font-weight: 600;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}

/* Table styles */
.prose table p {
  margin: 0;
}

/* Prosemirror specific table styles */
.ProseMirror table .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  background: #C8E6FF;
  opacity: 0.3;
}
.ProseMirror table .column-resize-handle {
  position: absolute;
  right: -1px;
  top: 0;
  bottom: -2px;
  width: 4px;
  background-color: #C8E6FF;
  pointer-events: none;
}
.resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
.tag-item,
.tag-suggestion-active {
  background-color: var(--surface-gray-1, #f8f8f8);
  color: inherit;
  border: 1px solid transparent;
  padding: 0px 2px;
  border-radius: 4px;
  font-size: 1em;
  white-space: nowrap;
  cursor: default;
}
.tag-item.ProseMirror-selectednode {
  border-color: var(--outline-gray-3, #c7c7c7);
}
.tag-suggestion-active {
  background-color: var(--surface-gray-2, #f3f3f3);
}

@keyframes KSlideIn {
from {
    transform: translateY(calc(100% + var(--viewport-padding, 32px)))
      scale(0.95);
    opacity: 0;
}
to {
    transform: translateY(0) scale(1);
    opacity: 1;
}
}
@keyframes KHide {
from {
    opacity: 1;
    transform: translateY(0) scale(1);
}
to {
    opacity: 0;
    transform: translateY(calc(50% + var(--viewport-padding, 32px))) scale(0.95);
}
}
@keyframes KSwipeOut {
from {
    opacity: 1;
    transform: translateY(var(--reka-toast-swipe-end-y)) scale(1);
}
to {
    opacity: 0;
    transform: translateY(calc(100% + var(--viewport-padding, 32px))) scale(0.9);
}
}
.toast-root-animatable {
  transition:
    transform 400ms cubic-bezier(0.2, 0.8, 0.2, 1),
    opacity 400ms cubic-bezier(0.2, 0.8, 0.2, 1);
}
.toast-root-animatable[data-state='open'] {
  animation: KSlideIn 300ms cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}
.toast-root-animatable[data-state='closed'] {
  animation: KHide 250ms cubic-bezier(0.26, 0.09, 0.58, 1) forwards;
}
.toast-root-animatable[data-swipe='move'] {
  transform: translateY(var(--reka-toast-swipe-move-y));
  opacity: 1;
  transition: none;
}
.toast-root-animatable[data-swipe='cancel'] {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.21, 1.02, 0.73, 1);
  opacity: 1;
}
.toast-root-animatable[data-swipe='end'] {
  animation: KSwipeOut 250ms cubic-bezier(0.26, 0.09, 0.58, 1) forwards;
}

.form-control.prefix select {
  padding-left: 2.2rem !important;
  text-transform: capitalize !important;
}

.current-time[data-v-fda7de7f]::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  left: -8px;
  top: -5px;
}

.calendar-column {
  position: relative;
}
.calendar-column ::before {
  content: attr(data-time-attr);
  position: absolute;
  left: -45px;
  top: -9px;
  font-size: 12px;
  font-weight: 400;
}

.progressbar[data-v-06f879d8] {
  --size: var(--40f7b25a);
  --bar-width: var(--2362534c);
  --font-size: var(--192a8cca);
  --check-icon-size: var(--4be7fed9);
  --color-progress: var(--4f7cc399);
  --color-remaining-circle: var(--bf25c56a);
  --color-complete: var(--5e540344);
  --progress: var(--67fce4a5);

  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: grid;
  place-items: center;

  position: relative;
  font-size: var(--font-size);
}
@property --progress {
  syntax: '<length-percentage>';
  inherits: true;
  initial-value: 0%;
}
.progressbar[data-v-06f879d8]::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: conic-gradient(
    var(--color-progress) var(--progress),
    var(--color-remaining-circle) 0%
  );
  transition: --progress 500ms linear;
  aspect-ratio: 1 / 1;
  align-self: center;
}
.progressbar[data-v-06f879d8]::after {
  content: '';
  position: absolute;
  background: white;
  border-radius: inherit;
  z-index: 1;
  width: calc(100% - var(--bar-width));
  aspect-ratio: 1 / 1;
}
.progressbar > div[data-v-06f879d8] {
  z-index: 2;
  position: relative;
}
.progressbar.completed[data-v-06f879d8]:not(.fillOuter)::after {
  background: var(--color-complete);
}
.progressbar.completed.fillOuter[data-v-06f879d8]::before {
  background: var(--color-complete);
}
.check-icon[data-v-06f879d8] {
  z-index: 3;
  width: var(--check-icon-size);
  height: var(--check-icon-size);
}
